/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    background:     #25363bFF;
    background-alt: #10a691FF;
    foreground:     #25363bFF;
    selected:       #e6b455FF;
    active:         #c792eaFF;
    urgent:         #f07178FF;
}
