/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    background:     #f0f0f4ff;
    background-alt: #218bffff;
    foreground:     #0000aaFF;
    selected:       #f6f8faFF;
    active:         #1a7f37FF;
    urgent:         #a40e26FF;
}
