/**
 *
 * Colors borrowed from the current Kitty theme (Ubuntu/Yaru-like).
 *
 */

* {
    background:     #300a24FF;
    background-alt: #555753FF;
    foreground:     #eeeeecFF;
    selected:       #b4d5ffFF;
    active:         #3465a4FF;
    urgent:         #cc0000FF;
}
