/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    background:     #eee8d5FF;
    background-alt: #fdf6e3FF;
    foreground:     #657b83FF;
    selected:       #586e75FF;
    active:         #cb4b16FF;
    urgent:         #859900FF;
}
